
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Junge');

*{
	padding: 0;
	margin: 0;
}

header {
	background-color: white;
	padding: 20px;
}

nav a {
	color: rgb(186,009,062);
	font-style: italic;
	margin-right: 40px;
	margin-left: 40px;
	padding: 40px;
}

img {
	width: 100%;
}

section {
	padding: 20px;
}

body {
	background-color: rgb(255,233,241);
	font-family: 'Junge', serif;
	font-size: 20px;
	line-height: 1.5em;
}

h1 {
	color: rgb(186,009,062);
	font-family: 'Oleo Script', cursive;
	font-size: 4em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h2 {
	font-family: 'Oleo Script', cursive;
	margin-bottom: 1em;
}
