
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Junge');

*{
	padding: 0;
	margin: auto;
	box-sizing: border-box;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	margin: 100px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	color: rgb(186,009,062);
	font-style: italic;
	margin-right: 2em;
	margin-left: 2em;
	padding: 20px;
	text-align: center;
}

img {
	width: 100%;
}

body {
	background-color: ;
}
article {
	background-color: #EF9C6C;
	width: 300px;
	border: 1px black solid;
	padding: 20px;
}

#about {
	background-color: #FFE2B8;
	margin: 50px;
	text-align: left;
	border: 1px black solid;
	padding: 20px;
}

#services {
background-color: #FFE2BB;
text-align: center;
margin: auto;
border: 1px black solid;
padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	margin: auto;
}

body {
	font-family: 'Junge', serif;
	font-size: 20px;
	line-height: 1.5em;
}

h1 {
	color: rgb(186,009,062);
	font-family: 'Oleo Script', cursive;
	font-size: 4em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	text-transform: uppercase;
}

h2 {
	font-family: 'Oleo Script', cursive;
	margin-bottom: 1em;
}
